<div *ngIf="apiFlag == true" id="overlay">
  <div id="text">Processing...<br/><i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(0,0,0);"></i></div>
  <div id="info_alert" class="alert_info alert responsivealert" style="display: none;">
    <span class="closebtn" (click)="close1()">&times;</span> 
    <strong>{{successMessage}}</strong>
  </div>
  <div id="info_success" class="success_info success responsivesuccess" style="display: none;">
    <span class="closebtn" (click)="close1()">&times;</span> 
    <strong>{{successMessage}}</strong>
  </div>
</div>

<!-- begin row -->
<div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                 <div class="col-8">
                   <h5 class="mb-0">View Part Details Here...</h5>
                 </div>
                 <div class="col-4 text-right">
                    <!-- <button (click)="back()" type="button" class="btn btn-sm btn-danger">Back</button> -->
                     <button type="button" (click)="back()" style="background-color: #00c9fd; min-height: 33px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px; font-weight: 400;
                     width: 64px;" class="btn btn-sm btn-danger">Back</button>&nbsp;&nbsp;
                 </div>
               </div>
             </div>
        <div class="card-body">          
            <div class="row" *ngIf="imageFlag == true" style="margin-bottom: 20px;">
                <div class="col-lg-12 no-padding ml-4">
                  <ng-container 
                  *ngFor="let image of prevImage; let i = index" style="display: flex;">
                  <img *ngIf="image" src={{image}} width="150px" height="150px" style="padding-right: 5px;">
                </ng-container>
                </div>
            </div>
            <div class="row" id="part_details">
              <div class="col-lg-12 col-xs-12 col-sm-12 no-padding table-responsive">
              <table class="col-xs-3 view_part" width="100%">
                <tr>
                  <th>Part Number</th>
                  <th>Description</th>
                  <th>UPCCode</th>
                  <th>COST</th>
                  <th>MSRP</th>
                </tr>
                <tr>
                  <td>{{parts.partNumber}}</td>
                  <td>{{parts.Description}}</td>
                  <td>{{parts.UPCCode}}</td>
                  <td>{{parts.COST}}</td>
                  <td>{{parts.MSRP}}</td>
                </tr>
              </table>
              </div>
            </div>
            <br/><br/>
            <h6 class="heading-small text-muted mb-4">Vehicle Mapped</h6>
            <div class="row">
                <ag-grid-angular
                        style="width: 100%; height: 390px;"
                        class="ag-theme-alpine"
                        [rowData]="rowData"
                        [rowSelection]="rowSelection"
                        [columnDefs]="columnDefs"
                        [modules]="modules"
                        [animateRows]="true"
                        (gridReady)="onGridReady($event)"
                        [pagination]="true"
                        (selectionChanged)="onSelectionChanged()"
                        [frameworkComponents]="frameworkComponents"
                        [gridOptions]="gridOptions"
                        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
                >
                </ag-grid-angular>
            </div>
        </div>
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">  
            <div class="col-12 text-left" *ngIf="showButton">
              <button type="button" (click)="partdelete()" class="btn btn-sm btn-primary" style="background-color: #00c9fd; min-height: 33px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px; font-weight: 400;
              width: 64px;">Delete</button>
             </div>
               <div class="col-12 text-right">
                   <button (click)="back()" type="button" class="btn btn-sm btn-danger" style="background-color: #00c9fd; min-height: 33px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px; font-weight: 400;
                   width: 64px;">Back</button>
               </div>
             </div>
           </div>
      </div>
    </div>
</div>

<!-- end row -->  




<div class="calloutmodal" id="modalDeletePart">
  <div class="modal-delete-content modalnew">
    <!--  <div class="icon" style="cursor: pointer;"> -->
    <a style="cursor: pointer;" (click)="close2()" title="Close" class="close">X</a>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Part Deletion</h4>
      <hr />
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete Part?</strong></p>
    </div>
    <br />
    <div class="modal-footer">
      <button type="button" (click)="close2()"
        style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;float:right"
        class="btn btn-sm btn-danger">Cancel</button>&nbsp;&nbsp;
      
      <button type="button" (click)="partDelbyVehicleid()"
        style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;float:right;margin-right: 5px;"
        class="btn btn-sm btn-primary" id="buttons">Ok</button>
    </div>
  </div>
</div>
