<div *ngIf="apiFlag == true" id="overlay">
    <div id="text">Processing...<br/><i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(0,0,0);"></i></div>
    <div id="info_alert" class="alert_info alert" style="display: none;">
      <span class="closebtn" (click)="close1()">&times;</span> 
      <strong>{{successMessage}}</strong>
    </div>
    <div id="info_success" class="success_info success" style="display: none;">
      <span class="closebtn" (click)="close1()">&times;</span> 
      <strong>{{successMessage}}</strong>
    </div>
  </div>
  <div *ngIf="apiFlagModal == true" id="overlay_modal">
    <div id="text_modal">Processing...<br/><i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(0,0,0);"></i></div>
    <div id="info_alert" class="alert_info alert" style="display: none;">
      <span class="closebtn" (click)="closeModalError()">&times;</span> 
      <strong>{{successMessage}}</strong>
    </div>
    <div id="info_success" class="success_info success" style="display: none;">
      <span class="closebtn" (click)="closeModal()">&times;</span> 
      <strong>{{successMessage}}</strong>
    </div>
  </div>

<!-- begin row -->
<div class="row">
    <div class="col-xl-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" style="margin: 0 !important;">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <div class="row">
                    <!-- <div class="col-xl-3">
                        <h4 class="panel-title">Manage Distributor</h4>
                    </div> -->
                    <!-- <div class="col-xl-5">
                        <div style="margin-left: 30px;">
                            <label>Quick Filter :</label> &nbsp;&nbsp;&nbsp;<input type="text" class="agform" placeholder="Filter quickly..." (keyup)="quickSearch()" [(ngModel)]="searchValue"><br/>
                        </div>
                        
                    </div>
                    <div class="col-xl-7" style="margin-top: 15px;justify-content: right;display: flex;padding-right: 22px;">                    
                        <div style="float:right;">
                            <a (click)="addDistributorModal()" class="button btn-xs icon_btn_success" title="Add New Distributor"><i class="fe-plus me-1" style="padding: 7px 9px 7px 7px;
                              border-radius: 5px;
                              color: #fff;font-size: 16px;
                              border-color: #00c9fd;
                              background-color: #00c9fd;
                              cursor:pointer;">Add New</i></a>
                          </div>
                        <div style="float:right;margin-right: 10px;">
                            <label>Archive :</label> &nbsp;
                            <input type="checkbox" (click)="clickEvent()" class="form control" style="margin-right:6px;" id="archive">
                        </div>
                        <div style=" margin-right:10px; float: right;">
                            <button style="border: 1px solid #cccccc;" (click)="onBtnExport()">Download CSV export file</button>
                        </div>
                        
                    </div> -->
                    <div class="col-12">
                      <div class="page-title-boxnew">
                          <div class="style-module-titleWrap-mfvE filtermbview" data-e2e="headerContentBlock">
                            
                              <label>Quick Filter :</label><input type="text" class="agform"
                                placeholder="Filter quickly..." (keyup)="quickSearch()" [(ngModel)]="searchValue">
                            
                          </div>
            
                      <div class="style-module-actions-t2Ea mt-2 stylebuttons" data-e2e="headerActionsBlock">
                        <a (click)="addDistributorModal()" class="button btn-xs icon_btn_success" title="Add New Distributor"><i class="fe-plus me-1" style="padding: 7px 9px 7px 7px;
                          border-radius: 5px;
                          color: #fff;font-size: 16px;
                          border-color: #00c9fd;
                          background-color: #00c9fd;
                          cursor:pointer;">Add New</i></a>
                           <label>Archive :</label> &nbsp;
                           <input type="checkbox" (click)="clickEvent()" class="form control" id="archive" style="margin-right:6px;margin-bottom: 5px;">
                           <button style="border: 1px solid #cccccc;" class="downloadbtn" (click)="onBtnExport()">Download CSV export file</button>
              <!-- <button class="style-module-btn-dck8 style-module-btn_primary-x7pK style-module-btn_m-yQoV"   data-e2e="saveCompanyChanges" type="button">Save
              </button> -->
                      </div>
            
            
                      </div>
                  </div>
                </div>
                
                
                
                  
                <!--<button type="submit" id="inactive_btn" class="btn btn-danger" style="color: white;display: none;">InActive</button>&nbsp;&nbsp;

                <button type="submit" id="active_btn" class="btn btn-success" style="color: white;display: none;">Active</button>&nbsp;&nbsp;

                 <div class="panel-heading-btn">
                    
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                </div> -->
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">                
                <ag-grid-angular id="ag_grid"
                style="width:100%;height: 63vh;"
                        class="ag-theme-alpine"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [modules]="modules"
                        [tooltipShowDelay]="tooltipShowDelay"
                        [animateRows]="true"
                        [frameworkComponents]="frameworkComponents"
                        (gridReady)="onGridReady($event)"
                        [pagination]="true"
                        [gridOptions]="gridOptions"
                >
                </ag-grid-angular>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
</div>

<div class="countrymodal" id="myModal">
  
    <div class="modals-country-content">
      
    <div class="modal-header" style="margin-top: 10px;">
        <h4 class="modal-title" id="modal-title">Add Country</h4>
    </div>
    <div class="modal-body" style="margin-top: 12px;">
      <form [formGroup]="countryform">
      <div class="pl-lg-4" style=" height: 22vh; margin-top: 20px; max-height: 50%; margin-left: 0px;">
        <div class="row" style="margin-bottom: 1.75rem !important;">
          <div class="col-lg-6" >
            <div  class="form-inline">
              <div class="col-md-12 form-group">
                <label class="col-sm-4 form-control-label" for="input-countryname">Country Name <span class="text-danger">*</span></label>
                <input type="text" formControlName="countryName" class="form-control form-control-alternative" placeholder="Please Enter Country Name" [ngClass]="{ 'is-invalid': submitted && c.countryName?.invalid }" required>
                <div *ngIf="submitted && c.countryName?.invalid" class="invalid-feedback">
                  <div *ngIf="c.countryName.errors.required">Country Name is required</div>
                </div>
                <!--<div id="distributorName_error" style="color:red; display:none;">Distributor Name is required</div>-->
              </div>
              </div>
              </div>
              </div>
              <div style="float: right;">
                <button type="button" style="background-color: #00c9fd;min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" (click)="cancel()" class="btn btn-sm btn-danger">Cancel</button>
                <button type="button" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" (click)="saveCountry()" class="btn btn-sm btn-primary">Save</button>
             
              </div>
             
      </div>
    
      </form>

    </div>
    
  </div>
  </div>

  <div class="calloutmodal" id="modalAddDistributor">
    <div class="modals-content">
       
        <div class="modal-header">
          <a (click)="cancelDistributorAdd()" style="cursor: pointer;" title="Close" class="close">X</a>
        
        </div>
        <div class="modal-body" style="overflow-x:hidden;overflow-y: auto;margin-top: 10px;">
          <form (ngSubmit)="submitForm()" [formGroup]="form">
          <div class="pl-lg-4" style="height: 60vh; margin-top: 20px; max-height: 50%; margin-left: 0px;">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-6 col-xs-6">
                <h5 class="mb-2 header">Add Distributor Details Here...</h5>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-6 text-right" style="float: right;">
                 <!--  <a href="users_list.php" class="btn btn-sm btn-danger">Back</a> -->
                 
                <button (click)="cancelDistributorAdd()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" type="button" class="btn btn-sm btn-danger" id="buttons">Back</button> 
                <button type="button" (click)="submitForm()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" name="submit" id="buttons" class="btn btn-sm btn-primary">Save</button>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-dname">Distributor Name <span class="text-danger">*</span></label>
                    <input type="text" formControlName="distributorName" class="form-control form-control-alternative" placeholder="Please Enter Distributor Name" [ngClass]="{ 'is-invalid': submitted && f.distributorName?.invalid }" required>
                    <div *ngIf="submitted && f.distributorName?.invalid" class="invalid-feedback">
                      <div *ngIf="f.distributorName.errors.required">Distributor Name is required</div>
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6">
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-dpname" placeholder="">Distributor Primary Contact Name</label>
                        <input type="text" formControlName="distributorPrimaryContact" class="form-control form-control-alternative" placeholder="Please Enter the Primary Contact Name">
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-daddress">Distributor Address</label>
                    <input type="text" formControlName="distributorAddress" class="form-control form-control-alternative" placeholder="Please Enter Distributor Address">
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-country">Distributor Country
                        <span>
                        <a href="javascript:;" (click)="addcountry()" title="Add Country"><i class="fa fa-plus-square" style="font-size: 20px;color:green;padding-left: 9px;"></i></a>
                      </span>
                    </label>
                        <select (change)="countryOnchange($event)" formControlName="distributorCountry" class="form-select form-control-alternative" id="countryList">
                          <option value="null">Select Country</option>
                          <option [value]="country.countryName" *ngFor="let country of countries">{{country.countryName}}</option>                                                 
                        </select>
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-country">Distributor State</label>
                    <select (change)="getCity($event)" formControlName="distributorState" id="stateDistributor" class="form-select form-control-alternative">
                      <option value="null">Select State</option>
                      <option [value]="state.StateUID" *ngFor="let state of states">{{state.StateName}}</option>                                                                               
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-region">Distributor City </label>
                        <select formControlName="distributorCity" class="form-select form-control-alternative" id="cityList">
                          <option value="null">Select City</option>
                          <option [value]="city.cityUID" *ngFor="let city of cities">{{city.CityName}}</option>                                                                               
                        </select>                                   
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-city">Distributor Region</label>
                   
                    <select formControlName="distributorRegion"  class="form-select form-control-alternative" id="regionList">
                      <option value="null">Select Region</option>
                      <option [value]="region.regionName" *ngFor="let region of regions">{{region.regionName}}</option> 
                                                                                     
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-zip">Distributor Zip code</label>
                        <input type="text" formControlName="distributorZip" placeholder="Please Enter Distributor ZipCode" class="form-control form-control-alternative" />
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-email">Distributor Primary Email</label>
                    <input type="text" formControlName="distributorEmail" placeholder="Please Enter Distributor Email" class="form-control form-control-alternative"/>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-phone">Distributor Contact Number</label>
                        <input type="text" formControlName="distributorContact" class="form-control form-control-alternative" placeholder="Please Enter Distributor Contact Number" [ngClass]="{ 'is-invalid': submitted && f.distributorContact.invalid }">                                        
                        <div *ngIf="submitted && f.distributorContact.invalid" class="invalid-feedback">                                      
                          <div *ngIf="f.distributorContact.errors.pattern">Only USA Numbers are allowed</div>
                        </div>
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" placeholder="">Distributor Website</label>
                    <input type="name" formControlName="distributorWebsite" class="form-control form-control-alternative" placeholder="Please Enter Distributor Website">
                  </div>
                  </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="distributor-image">Distributor Image</label>
                    <input type="file" formControlName="distributorImage" (change)="fileEvent($event)" />                                   
                  </div>
                  </div>
                  </div>
            </div>

            </div>
          </form>
        </div>
    </div>
</div>

<div class="calloutmodal" id="modalEditDistributor">
    <div class="modals-content">
        <!-- <div class="icon" style="cursor: pointer;"> -->
            <!-- <i style="font-size:23px !important; float:right; margin-top: -37px; margin-right:-37px;" title="Close" class="fa fa-window-close"></i> -->
            <!-- <a (click)="cancelDistributorEdit()" style="cursor: pointer;" title="Close" class="close">X</a> -->
            <!-- <div style="float:right"> -->
      
            <!-- </div>
        </div> -->
        <div class="modal-header">
          <a (click)="cancelDistributorEdit()" style="cursor: pointer;" title="Close" class="close">X</a>
           <!--  <h4 class="modal-title" id="modal-title">Edit Distributor Details Here...</h4>
            <div style="float:right">
              <button type="button" (click)="cancelDistributorEdit()"
              style="background-color: #00c9fd; min-height: 36px;font-weight: 400; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;"
              class="btn btn-sm btn-danger">Back</button>&nbsp;&nbsp;
          <button type="button" (click)="editSubmitForm()"
              style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;"
              class="btn btn-sm btn-primary">Save</button>
            </div> -->
        </div>
        <div class="modal-body" style="overflow-x:hidden;overflow-y: auto;margin-top: 10px;">
          <form (ngSubmit)="editSubmitForm()" [formGroup]="editform">
    <div class="pl-lg-4" style=" height: 60vh; margin-top: 20px; max-height: 50%; margin-left: 0px;">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-6 col-xs-6">
          <h5 class="mb-1 header">Edit Distributor Details Here...</h5>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 text-right" style="float: right;">
           <!--  <a href="users_list.php" class="btn btn-sm btn-danger">Back</a> -->
           
          <button (click)="cancelDistributorEdit()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" type="button" class="btn btn-sm btn-danger" id="buttons">Back</button> 
          <button type="button" (click)="editSubmitForm()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" name="submit" id="buttons" class="btn btn-sm btn-primary">Save</button>
        </div>
      </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-sname">Distributor Name <span class="text-danger">*</span></label>
                    <input type="text" formControlName="distributorName" class="form-control form-control-alternative" placeholder="Please Enter Distributor Name" [ngClass]="{ 'is-invalid': submitted && e.distributorName?.invalid }" required>
                    <div *ngIf="submitted && e.distributorName?.invalid" class="invalid-feedback">
                      <div *ngIf="e.distributorName.errors.required">Distributor Name is required</div>
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" placeholder="">Distributor Primary Contact Name</label>
                        <input type="name" formControlName="distributorPrimaryContact" class="form-control form-control-alternative" placeholder="Please Enter the Primary Contact Name">
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-saddress">Distributor Address</label>
                    <input type="text" formControlName="distributorAddress" class="form-control form-control-alternative" placeholder="Please Enter Distributor Address">
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-country">Distributor Country
                          <span>
                          <a href="javascript:;" (click)="addcountry()" title="Add Country"><i class="fa fa-plus-square" style="font-size: 20px;color:green;padding-left: 9px;"></i></a>
                        </span>
                      </label>
                        <select (change)="countryOnchange($event)"
                        formControlName="distributorCountry" class="form-select form-control-alternative">
                          <option value="">Select Country</option>
                          <option [value]="country.countryName" *ngFor="let country of countries">{{country.countryName}}</option>                                                         
                        </select>
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-country">Distributor State</label>
                    <select (change)="getCity($event)" formControlName="distributorState" id="stateDistributor" class="form-select form-control-alternative">
                      <option value="">Select State</option>
                      <option [value]="state.StateUID" *ngFor="let state of states">{{state.StateName}}</option>                          
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-region">Distributor City</label>
                        <select formControlName="distributorCity" class="form-select form-control-alternative">
                          <option value="">Select City</option>
                          <option [value]="city.cityUID" *ngFor="let city of cities">{{city.CityName}}</option>                                                                               
                        </select>                                   
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-city">Distributor Region</label>
                    <!-- <input type="text" formControlName="distributorRegion" placeholder="Please Enter Distributor Region" class="form-control" /> -->
                    <!--<select formControlName="distributorCity" class="form-control form-control-alternative">
                      <option value="">Select City</option>
                      <option [value]="city.CityUID" *ngFor="let city of cities">{{city.CityName}}</option>                                                                               
                    </select>-->
                    <select formControlName="distributorRegion" class="form-select form-control-alternative">
                      <option value="">Select Region</option>
                      <option [value]="region.regionName" *ngFor="let region of regions">{{region.regionName}}</option>                                                                         
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-zip">Distributor Zip code</label>
                        <input type="text" formControlName="distributorZip" class="form-control form-control-alternative" placeholder="Please Enter Distributor ZipCode"/>
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" for="input-email">Distributor Email</label>
                    <input type="text" formControlName="distributorEmail" placeholder="Please Enter Distributor Email" class="form-control form-control-alternative"/>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                        <label class="col-sm-5 form-control-label" for="input-phone">Distributor Contact Number</label>
                        <input type="text" formControlName="distributorContact" class="form-control form-control-alternative" placeholder="Please Enter Distributor Contact Number" [ngClass]="{ 'is-invalid': submitted && f.distributorContact.invalid }">                                        
                        <div *ngIf="submitted && e.distributorContact.invalid" class="invalid-feedback">                                      
                          <div *ngIf="e.distributorContact.errors.pattern">Only USA Numbers are allowed</div>
                        </div>
                      </div>
                      </div>
                      </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <div  class="form-inline">
                  <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">
                    <label class="col-sm-5 form-control-label" placeholder="">Distributor Website</label>
                    <input type="name" formControlName="distributorWebsite" class="form-control form-control-alternative" placeholder="Please Enter Distributor Website">
                  </div>
                  </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-6" >
                    <div  class="form-inline">
                      <div class="col-md-12 form-group" style="margin-bottom: 1.75rem !important;">                                       
                        <label class="col-sm-5 form-control-label" for="store-image">Distributor Image</label>
                        <img *ngIf="prevImage" src={{prevImage}} width="300px" height="150px">
                        <input type="file" formControlName="distributorImage" (change)="fileEvent($event)" style="margin-top: 6px;"/>                                   
                      </div>
                      </div>
                      </div>
            </div>

            </div>
            </form>
      
        
        </div>
    </div>
</div>
