<div class="login login-with-news-feed">
	<!-- begin news-feed -->
	<div class="news-feed">
		<div class="news-image" [ngStyle]="{'background-image': 'url(' + loginImage + ')'}"></div>
		<div class="news-caption">
			<h4 class="caption-title"><b>{{title}}</b></h4>&nbsp;
			<h5 style="color:#FFFFFFD9">{{subTitle1}}</h5>&nbsp;
			<p style="margin: 0; margin-bottom: 40px;">{{subTitle2}}</p>
		</div>
	</div>
	<!-- end news-feed -->
	<!-- begin right-content -->
	<div class="right-content">
        <div class="text-center w-75 m-auto" *ngIf="imgFlag">
            <div class="auth-logo">
                <a href="javascript: void(0);" class="logo logo-dark text-center">
                    <span class="logo1-lg">
                        <img src="assets/images/newlogo.png" alt="" height="90">
                    </span>
                </a>

                <a href="javascript: void(0);" class="logo logo-light text-center">
                    <span class="logo1-lg">
                        <img src="assets/images/newlogo.png" alt="" height="90">
                    </span>
                </a>
            </div>
        </div>
		<!-- begin login-content -->
		<div class="login-content">
			 <form #f="ngForm" (ngSubmit)="submit(f)">

				 <!-- userName -->            
				 <label class="control-label">User Name <span class="text-danger">*</span></label>
				<div class="form-group m-b-15">
					<input type="text" class="form-control form-control-lg" [(ngModel)]="signin.userName" id="userName" name="userName" placeholder="Please Enter userName" />
				</div>
				<!-- Submit the Applications -->
				<div class="login-buttons">
					<button type="submit" [disabled]="disableFlag" class="btn btn-primary btn-block btn-lg"> Reset</button>
				</div><br>
			</form>

			<div class="alert alert-danger alert-dismissible" *ngIf="error">
				{{error_msg}}
			  </div>
			
			  <div class="alert alert-success alert-dismissible" *ngIf="error1">
				<button class="close" (click)="close()">&times;</button>
				{{error_msg1}}
			  </div>
			
				<div class="m-t-30 m-b-30 p-b-30">
					Already a member? Click <a routerLink="/login">here</a> to login.
				</div>

				<hr />
				<p class="text-center text-grey-darker mb-0">
					{{copyright}}
				</p>
		</div>
		<!-- end login-content -->
		</div>
		</div>
    

