<div id="page-content" style="min-height: 89vh !important;">
    <!-- Navigation info -->
    

    <div class="header">
    <header>
    <h4 style="margin-top: 50px;">Single Customer Complaints Update</h4>
    </header>
    </div> 
    <div class="col-sm-10 col-xl-10 col-lg-10">
        <div class="form-group" style="padding-left: 400px;">
            <label class="control-label col-md-3" for="val_complaintnumber">Complaint Number :</label>
            <div class="input-group" style="width:200px;margin-top :30px;padding-left: -22px;">
            <input type="complaintnumber" id="val_complaintnumber" name="val_complaintnumber" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-success" style="margin-right: 55px;"> Confirm</button><br><br>
        </div> 
    </div>                     
</div>
    



<footer>
    <div class="footer">
        <p>Copyrights &copy;2022. ABFRL Customer Complaints</p>
    </div>
</footer>
