<div *ngIf="apiFlag == true" id="overlay">
  <div id="text">Processing...<br /><i class="fa fa-spinner fa-spin" style="font-size:24px;color:rgb(0,0,0);"></i>
  </div>
  <div id="info_alert" class="alert_info alert" style="display: none;">
      <span class="closebtn" (click)="close1()">&times;</span>
      <strong>{{successMessage}}</strong>
  </div>
  <div id="info_success" class="success_info success" style="display: none;">
      <span class="closebtn" (click)="close1()">&times;</span>
      <strong>{{successMessage}}</strong>
  </div>
</div>

 <!-- begin row -->
 <div class="row">
    <div class="col-xl-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" style="margin: 0px !important;">
          <!-- begin panel-heading -->
          <div class="panel-heading">
          <div class="row">
            <!-- <div class="col-xl-3">
            <h4 class="panel-title">Vehicle Gallery</h4>
            </div> -->
            <!-- <div class="col-xl-5">
              <div style="margin-left: 30px;">
                <label>Quick Filter :</label> &nbsp;&nbsp;&nbsp;<input type="text" class="agform" placeholder="Filter quickly..." (keyup)="quickSearch()" [(ngModel)]="searchValue"/>
              </div>
              
            </div>
            <div class="col-xl-7" style="margin-top: 18px;">                    
              <div style="float:right;margin-right: 40px;">
                <a routerLink="/home/vehiclegallery/addvehiclegallery" style="cursor: pointer;" class="icon_btn_success" title="Add Vehicle"><i class="fa fa-plus-square" style="font-size: 32px; color:green;"></i></a>
              </div>             
            </div> -->
            <div class="col-12">
              <div class="page-title-boxnew">
                  <div class="style-module-titleWrap-mfvE" data-e2e="headerContentBlock">
                    <label>Quick Filter :</label> &nbsp;&nbsp;&nbsp;<input type="text" class="agform" placeholder="Filter quickly..." (keyup)="quickSearch()" [(ngModel)]="searchValue"/>
                  </div>
                  <div class="style-module-actions-t2Ea mt-2 stylebuttons" data-e2e="headerActionsBlock">
                    <a routerLink="/home/vehiclegallery/addvehiclegallery" style="cursor: pointer;" class="icon_btn_success" title="Add Vehicle"><i class="fa fa-plus-square" style="font-size: 32px; color:green;"></i></a>
                    </div>
                  </div>
                  </div>
        </div>
      </div>
      <!-- end panel-heading -->
            <!-- begin panel-body -->                
            <div class="panel-body">
                <ag-grid-angular id="ag_grid"
                        style="width: 100%; height: 62vh;"
                        class="ag-theme-alpine"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                        [modules]="modules"
                        [animateRows]="true"
                        [tooltipShowDelay]="tooltipShowDelay"
                        [frameworkComponents]="frameworkComponents"
                        (gridReady)="onGridReady($event)" 
                        [context]="context"
                        [pagination]="true"
                        (rowClicked)="onRedirectURL($event)"
                >
                </ag-grid-angular>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
  </div>


  <div class="calloutmodal" id="modalEditgallery">
    <div class="modals-content">
        <!-- <div class="icon" style="cursor: pointer;"> -->
            <!-- <i style="font-size:23px !important; float:right; margin-top: -37px; margin-right:-37px;" title="Close" class="fa fa-window-close"></i> -->
            <!-- <a (click)="cancelgalleryEdit()" style="cursor: pointer;" title="Close" class="close">X</a> -->
            <!-- <div style="float:right"> -->
           
            <!-- </div>
        </div> -->
        <div class="modal-header">
          <a (click)="cancelgalleryEdit()" style="cursor: pointer;" title="Close" class="close">X</a>
           <!--  <h3 class="modal-title" id="modal-title">{{galleryTitle}}</h3>
            <div style="float:right">
              <button type="button" (click)="cancelgalleryEdit()"
              style="background-color: #00c9fd; min-height: 36px;font-weight: 400; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;"
              class="btn btn-sm btn-danger">Back</button>&nbsp;&nbsp;
          <button type="button" (click)="editGallery()"
              style="background-color: #00c9fd; min-height: 36px; border:#00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;"
              class="btn btn-sm btn-primary">Update</button>
            </div> -->
          </div>
        <div class="modal-body">
           <!--  <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card-body">
                        <div class="card-header bg-white border-0 " style= "background-color:#fff !important;" > -->
                          <div class="row align-items-center">
                            <div class="col-lg-8 col-md-6 col-xs-6">
                              <h5 class="mb-2 header">{{galleryTitle}}</h5>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 mb-2 text-right" style="float: right;">
                               <!--  <a href="users_list.php" class="btn btn-sm btn-danger">Back</a> -->
                               
                              <button (click)="cancelgalleryEdit()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" type="button" class="btn btn-sm btn-danger" id="buttons">Back</button>&nbsp;&nbsp;
                              <button type="submit" (click)="editGallery()" style="background-color: #00c9fd; min-height: 36px; border: #00c9fd; border-radius: 5px; color: #fff; font-family: Roboto; font-size: 14px; line-height: 20px;" name="submit" id="buttons" class="btn btn-sm btn-primary">Save</button>
                            </div>
                          </div>
                          <div class="form-group m-t-10" id="testAreaNotes">
                            <label class="form-control-label" for="input-tdata">Notes</label>
                            <textarea id="searchSectionNotes" name="searchSectionNotes" placeholder="Please enter section notes" class="form-control" rows="3" cols="50"></textarea>
                          </div>
                          <div class="form-group m-t-10" id="openImage">
                            <img width="200px" height="100px" src="{{galleryImage}}">
                            <br/>
                            <input type="file" class="galleryFile mt-2" id="vehicleImage" name="vehicleImage" (change)="fileEvent($event)" accept="image/*" />
                          </div>
                     <!--  </div>
                    </div>
                </div>
            </div>  -->
        </div>
    </div>
</div>
