#product-directory {
	box-sizing: border-box;
	/* background-color: #00c9fd; */
	border-radius: 10px;
	padding: 10px;
}

#product-directory ul {
	padding-left: 0;
	box-sizing: border-box;
}

#product-directory li {
	list-style: none;
	box-sizing: border-box;
	display: inline-block;
	width: 235px;
	margin: 5px;
	position: relative;
	/* border: 1px solid #333; */
	align-content: center;
	display: inline-block;
	vertical-align: top;
}

#product-directory li img {
	max-width: 100%;
	height: 120px;
	margin: 0 auto;
	position: relative;
	align-self: center;
	margin: 0 auto;
}

#submitbutton {
	background-color: #00c9fd;
	min-height: 36px;
	border: #00c9fd;
	border-radius: 5px;
	color: #fff;
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
}

.image-item {
	position: relative;
	display: inline-block;
}

.image-actions {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.image-item:hover .image-actions {
	display: block;
}

.edit-icon,
.delete-icon {
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px;
	background-color: rgb(0, 0, 0);
	color: #fff;
	border-radius: 3px;
	margin: 2px;
}

.edit-icon:hover,
.delete-icon:hover {
	background-color: rgb(0, 0, 0);
}

img {
	border-radius: 10px;
	padding: 5px;
}

.image-item {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.hover14 {
	width: 100%;
	height: auto;
	background-color: grey;
	border-radius: 3px;
	/* transition: transform 0.3s ease; */
}

/* .hover14:hover img {
	transform: scale(1.1);
} */

#overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
	cursor: pointer;
	text-align: center;
}

#text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 27px;
	color: black;
	transform: translate(-0%, -0%);
	-ms-transform: translate(-0%, -0%);
}

.alert_info {
	position: absolute;
	top: 50%;
	left: 45%;
	font-size: 18px;
	color: black;
	transform: translate(-0%, -0%);
	-ms-transform: translate(-0%, -0%);
}

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
}

.success_info {
	position: absolute;
	top: 50%;
	left: 45%;
	font-size: 18px;
	color: black;
	transform: translate(-0%, -0%);
	-ms-transform: translate(-0%, -0%);
}

.success {
	padding: 20px;
	/* background-color: #04AA6D; */
	background-color: #00c9fd;
	color: white;
}

.closebtn {
	margin-left: 15px;
	margin-top: 3px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.imagepadd {
	padding: 3px;
	background-color: rgb(20, 19, 19);
	border-radius: 10px;
}

.image-item {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.imagepadd {
	transition: transform 0.3s ease;
}

.imagepadd:hover {
	transform: scale(1.1);
}