<div>
    <i (click)="edit()" class="ri-file-edit-fill" title="Edit Part"  style="font-size:20px;color: #026680; margin-right: 6px;"></i>
    <i *ngIf="params.data.ArchStatus != '1'" class="ri-archive-fill" (click)="archive()" style="cursor:pointer; font-size: 20px; color: #026680;" title="Archive"></i>
    <i *ngIf="params.data.ArchStatus == '1'" class='fa fa-window-restore' (click)="restore()" style="cursor:pointer; font-size: 20px; color: #026680;"  title="Restore"></i>
    </div>
    <i class="ri-file-edit-fill" title="Edit" style="font-size:20px;color: #026680;"></i>
    <i class="ri-archive-fill" title="Archive" style="cursor:pointer; font-size: 20px; color: #026680;"></i>
