<!-- begin row -->
<div class="row">
    <div class="col-xl-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">Unique Visitor</h4>
                <div class="panel-heading-btn">
                <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand" style="float: right;margin-top: -45px;
                margin-right: 28px;"><i class="fa fa-expand"></i></a> -->
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">                
                <label>Quick Filter :</label> &nbsp;&nbsp;&nbsp;<input type="text" class="agform" placeholder="Filter quickly..." (keyup)="quickSearch()" [(ngModel)]="searchValue"><br/>
                <ag-grid-angular
                style="width: 100%; height: 59vh;margin-top: 10px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [modules]="modules"
                [defaultColDef]="defaultColDef"
                [sortingOrder]="sortingOrder"
                [animateRows]="true"
                (gridReady)="onGridReady($event)"
                [pagination]="true"
                
                >
                </ag-grid-angular>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
</div>

